@use "../../../../style/depedente-styles/table.scss" as *;
@use "../../../../style/depedente-styles/tableBtns.scss" as *;
.sitesTable{
    .inputTD{
        width: 37px !important;
    }

    tr{
        font-size: 13px !important;
        letter-spacing: 1px !important;
    }
}