@use "../../../../style/depedente-styles/table.scss" as *;
@use "../../../../style/depedente-styles/tableBtns.scss" as *;
@use "../../../customer-loan-detail/style.scss" as *;
.payBtnInLoanList{
    position: inherit;
    font-size: 12px;
    svg{
        width: 12px;
        height: 12px;
        padding: auto;
    }
}

.tableUnderTabs{
    min-height: calc(100vh - 258px) !important;
}