@use "../../style/depedente-styles/table.scss" as *;
@use "../../style/depedente-styles/tableBtns.scss" as *;

.dataNotEditable{
    cursor: not-allowed !important;
}
.dataNotEditable:hover{
    background: var(--main-white)  !important;
}

.takenActionRow{
    text-transform: capitalize;
}